:root {
    --text: oklab(19.13% 0.000 0.00);
    --background: oklab(98.03% 0.002 0.01);
    --primary: oklab(78.62% 0.107 -0.00);
    --secondary: oklab(74.95% 0.094 0.03);
    --accent: oklab(50.38% -0.082 -0.02);

    --border_distance: 10vh;
    --border_radius: 5px;

    @media screen and (orientation: portrait) {
      --border_distance:4px;
    }
  }

  ::-moz-selection { /* Code for Firefox */
    background: var(--primary);
  }
  
  ::selection {
    background: var(--primary);
  }

  *{
    
    font-family: museo-slab;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text);
    letter-spacing: -0.025rem;
    scroll-behavior: smooth;
  }


  h1{
    font-size: 6em;
    font-weight:100;
    color: var(--text);
  }

  h2{
    font-size: 3rem;
    padding:  1rem 1rem 1rem 0;
    font-weight: 300;
  }

  h3{
    font-size: 1.5rem;
    padding:  1.5rem 1.5rem 1.5rem 0;
    font-weight: 300;
  }

  h4{
    font-size: 1.1rem;
    font-weight: bold;
  }

  h5{
    color: var(--background);
    font-size: 1.2rem;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }

  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"] + label::before {
    content:'';
    display: block;
    border: 1px solid var(--text);
    width: 12px;
    height: 12px;
    margin-right: 0.3rem;
  }
  input[type="checkbox"]:checked + label::before {
    background-color: var(--accent);
  }
  p{
    margin: 2rem 0;
    letter-spacing: 0;
    line-height: 1.25;
  }
  abbr{
    text-decoration: none;
  }




  header{
    position: fixed;
    z-index: 5;
    width: 100%;
    font-size: 1.25rem;
  }

  .header_link{
    display: flex;
    align-content: space-between;
    width: 100%;
    padding: 1.25rem var(--border_distance);
  }

  .header_link a{
    color: var(--text);
    font-weight: 700;
  }


  .header_menu, .nav_laptop{
    display: flex;
    gap: 4rem;
  }


  .header_empty{
    flex: 1;
  }

  select{
    background:none;
    border: none;
    color: var(--text);
    font-weight: 700;
  }

 select  option{
    font-family: museo-slab;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text);
    letter-spacing: -0.025rem;
  }

   /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: var(--background);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.33s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.nav_mobile_content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
  color: var(--primary);
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: var(--secondary)
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 

  @media screen and (orientation : portrait) {
    .nav_laptop{ display: none;}
    .nav_mobile_open{display: flex;}
  }
  @media screen and (orientation : landscape) {
    .nav_laptop{ display: flex;}
    .nav_mobile_open{display: none;}
  }






  main{
    background-color: var(--background);
    overflow: clip;
  }

  .maincontent{
    padding: 0 var(--border_distance);
  }

  .main_first{
    width: 100%;
    height: 55rem;
    margin-bottom: 2rem;


    background-image: url(/img/montsacre-1.png);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 98%);
    background-size: cover;
    background-position: center;
  }

  .main_text{
    position: relative;
    top: 20%;
    right: 21%;
    text-align: center;
    @media screen and (orientation : portrait) {
      right: 0%;
    }
  }

  

  #main_subtitle{
    position: relative;
    top: 8%;
    left: 4%;
  }


  .main_second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-between;
    margin-inline: var(--border_distance);
    padding-bottom: 3rem;
  }



  .redirection_list{
    font-size: 1.1rem;
    margin-left: calc(var(--border_distance)/2);
  }

  .redirection_list li{
    margin: 0.24rem;
    padding: 0.33rem;
    border-radius: 5px;
  }

  .redirection_list li:hover{
    background-color: var(--primary);
  }

  .redirection_list_mode li{
    margin-left: 1.5rem;
  }

  .main_best{
    width: 50%;
    @media screen and (orientation : portrait){
      width:100%
    }
  }

  #workgridIndex{
    padding: 0 calc(var(--border_distance)/2);
  }


footer{
    position: fixed;
    padding: 0.25rem 0;
    width: 100%;
    bottom: 0rem;
    z-index: 4;
    background-color: var(--background);
  }

  .bottom{
    display: flex;
    margin-inline: var(--border_distance);
    justify-content: space-between;
  }

  .footer_time{
    display: flex;
    gap: 4rem;
  }

  .footer_social{
    display: flex;
    gap: 4rem;
  }

  @media screen and (orientation : portrait) {
    .footer_social, .footer_top{display: none;}
  }

  footer p{
    margin: 0;
    line-height: 1;
  }

  .worktitle{
    padding: 2.25rem 0 0.75rem;
  }


  .workfilter{
    display: flex;
    justify-content: space-between;
    padding: 0.25rem calc(var(--border_distance)/2);
    margin: 0.75rem calc(var(--border_distance)/2);
    background-color: var(--primary);
    border-radius: var(--border_radius);
  }

  .workfilter-left{
    display: flex;
    gap: 0.75rem;
  }

  .buttonfilter{
    font-weight: 700;
    padding: 0.75rem 1rem;
    border: 0;
    background-color: var(--primary);
    border-radius: var(--border_radius);
  }

  .buttonfilter:hover{
    background-color: var(--secondary);
  }

  .filters{
    display: none;
    position: absolute;
    z-index: 4;
    padding:0.75rem;
    background-color: var(--primary);
    max-height: 500px;
    box-shadow: 10px 14px 14px 4px rgba(0,0,0,0.49);

    flex-flow: column;
  }

  .filterslist{
    display: flex;
    flex-flow: column;
    overflow-y: auto;
  }

  .filterselect{

  }

  .filterselement{
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .filterselement:hover{
    background-color: var(--secondary);
  }

  .filterselement label{
    display: flex;
    align-items: center;
    padding: 0.33rem 0.2rem;
  }

  .workgrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 5px;
    padding: 0 var(--border_distance);
  }
  
  .image-item{
    position: relative;
    display: inherit
  }

  .image-item img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .imagedesc {
    position: absolute;
    bottom: 7%;
    width: 100%;
    display:flex;
    flex-flow: column;
    align-items: center;
  }

  .imagedesc h4{
    text-align: center;
    text-shadow: 4px 5px 8px rgba(0,0,0,0.9);
  }

  .softicons img{
    width: 16px;
    text-align: center;
    text-shadow: 4px 5px 8px rgba(0,0,0,0.9);
    margin: 4px;
  }
  
  #workdetail {
    position: fixed;
    border: none;
    background-color: var(--primary);
    padding: calc(var(--border_distance)/2) calc(var(--border_distance)*1.5);
    width: 95%;
    height: 97.5%;
    top: 1%;
    z-index: 15;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width:thin;
    scrollbar-color: var(--accent) var(--primary);

    border-radius: var(--border_radius);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.39);
  }

  .x {
		border: none;
		background: none;
		position: fixed;
		top: 64px;
		right: 64px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
    stroke: var(--text);
  }
	.x:hover {
		stroke: var(--accent);
		transform: scale(1.025);
  }

  #workdetail::backdrop {
		animation: fadeIn 1s ease both;
		background: rgb(255 255 255 / 40%);
		z-index: 2;
		backdrop-filter: blur(20px);
  }

  .additional-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .additional-images img{
    width: 100%;
    display: block;
  }

  .additional-images a:first-child{
    grid-column: 1 / span 2;
  }


  .aboutmain{
    display: flex;
    flex-flow: row nowrap;
    align-content: start;
    padding-bottom: 15vh;
    border-bottom: 2px solid var(--accent);
    align-content: space-between;
    @media screen and (orientation : portrait){
      flex-flow: row wrap;
    }
  }

  #aboutmainimage{
    height: auto;
    width: 100%;
    max-width: 30rem;
    min-width: 20rem;
  }

  .aboutleft{
    margin:1.5rem 5rem;
    max-width: max-content;
    @media screen and (orientation : portrait){
      margin: 0.2rem 0rem;
    }
  }
  .aboutright{
    max-width: 700px;
    margin-inline:auto;
  }

  .aboutCV{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    max-width: 26rem;
  }

  .aboutCV button{
    flex-wrap: nowrap;
    background-color: var(--primary);
    padding: 16px 24px;
    border-radius: var(--border_radius);
    border: none;
    transition: background-color 0.3s ease;
    display: block;
  }
  .aboutCV button:hover{
    background-color: var(--secondary);
  }
  .aboutCV button:active{
    border: solid 1px;
    border-color: var(--accent);
  }

  .aboutexp{
    padding-bottom: 15vh;
    border-bottom: 2px solid var(--accent);
  }

  .aboutxpgrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,0fr);
    gap: 20px;
  }

  .aboutpath{
    grid-column: span 2 / span 2;
  }
  .aboutskill_1{
    grid-row-start: 3;
  }.aboutskill_2{
    grid-row-start: 3;
  }

  .aboutpath > ul,.aboutskill_1 > ul,.aboutskill_2 > ul{
    margin-left: var(--border_distance);
  }

  .aboutxpgrid li{
    padding: 0.35rem 0;
  }

  .exppetit {
    font-weight: 100;
  }

  .aboutcontact{
    padding-bottom: 15vh;
    border-bottom: 2px solid var(--accent);
  }

  .contactall{
    width: 90%;
  }

  .contactcontent{
    display: flex;
    justify-content: space-around;
  }

  .socialcontent{
    display: flex;
    justify-content: space-around;
  }

  .sociallink{
    background-color: var(--primary);
    width: 8rem;
    height: 2rem;
    border-radius: var(--border_radius);
  }

  .sociallink abbr{
    display: block;
    font-weight: 700;
    text-align: center;
  }